In [2]:
import pandas as pd

In [16]:
# read csv file 
database = pd.read_csv ('../Data/ML_data.csv')
database

,shire,rainfall.yearToDate,tos_field_ph,Straw Yield /Ha Cereal Crop Average over 5 years
0,albany,10.733333,5.750000,2.53
1,beverley,1.300000,7.500000,2.14
2,bruce rock,16.933333,6.000000,1.04
3,carnamah,0.200000,6.500000,0.85
4,coorow,6.700000,7.000000,0.74
5,dandaragan,3.600000,6.000000,2.98
6,dumbleyung,2.400000,8.000000,1.60
7,gingin,0.400000,6.500000,2.28
8,irwin,0.000000,7.000000,1.98
9,jerramungup,19.666667,6.750000,1.84
10,kellerberrin,8.800000,6.500000,1.23
11,koorda,12.000000,7.500000,0.58
12,kulin,2.300000,6.500000,0.97
13,lake grace,16.650000,7.166667,1.12
14,merredin,26.200000,6.000000,0.77
15,mount marshall,29.300000,7.750000,0.69
16,mukinbudin,28.800000,6.500000,0.72
17,narembeen,41.400000,9.000000,0.90
18,northam,1.600000,5.750000,2.13
19,northampton,0.500000,6.600000,1.34
20,perenjori,36.333333,6.750000,0.00
21,ravensthorpe,24.342857,6.625000,1.76
22,three springs,25.200000,8.500000,1.00
23,west arthur,0.700000,5.000000,2.33
24,westonia,41.000000,6.500000,0.70
25,yilgarn,25.400000,6.900000,0.50

In [17]:
# Filter data for pH = or > than 6.5
filtered_df = database[database['tos_field_ph'] >= 6.5]
filtered_df

,shire,rainfall.yearToDate,tos_field_ph,Straw Yield /Ha Cereal Crop Average over 5 years
1,beverley,1.300000,7.500000,2.14
3,carnamah,0.200000,6.500000,0.85
4,coorow,6.700000,7.000000,0.74
6,dumbleyung,2.400000,8.000000,1.60
7,gingin,0.400000,6.500000,2.28
8,irwin,0.000000,7.000000,1.98
9,jerramungup,19.666667,6.750000,1.84
10,kellerberrin,8.800000,6.500000,1.23
11,koorda,12.000000,7.500000,0.58
12,kulin,2.300000,6.500000,0.97
13,lake grace,16.650000,7.166667,1.12
15,mount marshall,29.300000,7.750000,0.69
16,mukinbudin,28.800000,6.500000,0.72
17,narembeen,41.400000,9.000000,0.90
19,northampton,0.500000,6.600000,1.34
20,perenjori,36.333333,6.750000,0.00
21,ravensthorpe,24.342857,6.625000,1.76
22,three springs,25.200000,8.500000,1.00
24,westonia,41.000000,6.500000,0.70
25,yilgarn,25.400000,6.900000,0.50

In [18]:
X = filtered_df[[
    "shire", 
    "rainfall.yearToDate", 
    "tos_field_ph", 
    
]]

y = filtered_df["Straw Yield /Ha Cereal Crop Average over 5 years"].values.reshape(-1,1)

In [19]:
data = X.copy()

data_encoded = pd.get_dummies(filtered_df, columns=["shire"])
data_encoded

,rainfall.yearToDate,tos_field_ph,Straw Yield /Ha Cereal Crop Average over 5 years,shire_beverley,shire_carnamah,shire_coorow,shire_dumbleyung,shire_gingin,shire_irwin,shire_jerramungup,...,shire_lake grace,shire_mount marshall,shire_mukinbudin,shire_narembeen,shire_northampton,shire_perenjori,shire_ravensthorpe,shire_three springs,shire_westonia,shire_yilgarn
1,1.300000,7.500000,2.14,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.200000,6.500000,0.85,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6.700000,7.000000,0.74,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,2.400000,8.000000,1.60,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0.400000,6.500000,2.28,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0.000000,7.000000,1.98,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,19.666667,6.750000,1.84,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,8.800000,6.500000,1.23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12.000000,7.500000,0.58,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2.300000,6.500000,0.97,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,16.650000,7.166667,1.12,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
15,29.300000,7.750000,0.69,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
16,28.800000,6.500000,0.72,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
17,41.400000,9.000000,0.90,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
19,0.500000,6.600000,1.34,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
20,36.333333,6.750000,0.00,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21,24.342857,6.625000,1.76,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
22,25.200000,8.500000,1.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24,41.000000,6.500000,0.70,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,25.400000,6.900000,0.50,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

ValueError: could not convert string to float: 'kulin'

In [ ]:
# create a city encoder 
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoder.fit(grouped_df[[
    "shires"
]])

In [ ]:
# create a prediction function 
def predict(model, encoder, X_scaler, y_scaler, user_inputs):
    # get the user input data 
    pressure = user_inputs["pressure"]
    humidity = user_inputs["humidity"]
    city_name = user_inputs["city_name"]
    
    # store city names into a df 
    city_input_df = pd.DataFrame({
        "city_name": [city_name]
    })

    # use encoder to transform the city df 
    X_transformed = encoder.transform(city_input_df)
    city_df = pd.DataFrame(columns=[*encoder.categories_], data=X_transformed.toarray())
    
    # store pressure and humidty into df 
    input_df = pd.DataFrame({
        "pressure": [pressure],
        "humidity": [humidity]
    })

    # combine both df's using indexes 
    df = input_df.merge(city_df, left_index=True, right_index=True)

    # scale the X input df 
    X_scaled = X_scaler.transform(df)

    # obtain prediction (y) 
    prediction_scaled = model.predict(X_scaled)
    
    # scale prediction to human readable terms i.e. celcius 
    prediction = y_scaler.inverse_transform(prediction_scaled)
    return prediction

In [ ]:
# test a single prediction 
user_inputs = {
    "pressure": 1011, 
    "humidity": 50,
    "city_name": "perth"   
}
print(f"predicted temp is: {predict(model, encoder, X_scaler, y_scaler, user_inputs)[0][0].round(2)} celcius")